.answer-table {
  table tbody {
    td:first-child {
      vertical-align: top;
      text-align: center;
      padding: 10px 0;

      > * {
        position: sticky;
        top: 50px;
      }
    }

    td > div {
      max-width: 800px;
      overflow: auto;

      img {
        max-width: 100%;
      }
    }
  }
}
