@import 'styles/mixins';
@import 'styles/variables';

.btn {
  @include header-text;
  @include border;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  min-height: 50px;
  min-width: 150px;
  color: $white;
  text-decoration: none;

  @include hoverBackground($blue, $brightBlue);
}