$font-size-normal: 13px;
$font-size-header: 16px;
$font-size-title: 24px;

$border-radius: 4px;
$border-width: 1px;
$border-type: solid;

$mainColor: #000;
$white: #fff;

$blue-rgb: #00F;
$blue: #5259c1;
$brightBlue: #7e86ef;
$lightBlue: #c9e3fa;
$blue-transparent: #5e68f399;
$red: #eb5757;
$brightRed: #fddede;

$gray95: #f2f2f2;
$gray90: #e5e5e5;
$gray85: #d9d9d9;
$gray65: #a6a6a6;
$gray50: #808080;

$table-header: #1F2327;

$delay-in: 300ms;
$delay-out: 200ms;

$shadow-color: #5f5f5f87
